# compiled output
build/

# dependencies
/node_modules

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.Saved/
_arc/
*.log
*.rar
*.zip
.publish
ex_files
__MACOSX
