@import 'assets/css/base/module.css';

#root {
  position: relative;
  margin: 130px 0 40px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.info {
  margin-top: 4.6rem;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 0.75rem;
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.todo-list li {
  position: relative;
  font-size: 1.7rem;
  border-bottom: 1px solid #ededed;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .destroy::after {
  content: '×';
}
